<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>IT Quiz</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'quizes/css/quizes.css' %}" type="text/css" media="screen" >
  </head>
  <body>
    <div class="header">
      <a id="home_button" href="{% url 'index' %}" class="logo">IT Quiz</a>
      <div class="header-right">
        <a href="#">New Quiz</a>
        <a href="{% url 'about' %}">About</a>
      </div>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>